:root{
    --pinkColor: #E75A7C;  
    --greenColor: #A6B093;
    --yellowColor: #f2f5dd;
    --whiteColor: #F2F5EA;
    --sectionColor: #d6dbd2;
    --softBlack: #181A18;
    --darkGrey: #2D2E2D;
    --borderColor: #D1D4CE;
    --navGrey: #b0b4ac;
    --navBorderText: #aaaea7;
    
}

html, body{
    padding: 0;
    margin: 0;
    background-color: var(--softBlack);
}

a {
    text-decoration: none;
}

h1,h2{
    font-family: 'Silkscreen', cursive;
    margin: 0 0 20px;
}
h1 { font-size: 50px;}
h2 { font-size: 26px;}

.btn{
    border: none;
    font-family: 'Silkscreen', cursive;
    padding: 7px;
    margin: 0 5px;
    background: transparent;
    color: var(--whiteColor);
    font-size: 16px;
}
.btn:hover{
    border-radius: 50%;
    cursor: pointer;
    color: var(--pinkColor);
}

.navbar{
    width: 100%;
    height: 45px;
    position: absolute;
    top: 0;
    animation: fadeIn 3s;
}

.navtext{
    font-family: 'Silkscreen', cursive;
    color: var(--navGrey);
    font-size: 10px;
    padding: 10px;
}

.title{
    color: var(--pinkColor);
    padding-left: 25px;
    cursor: default;
}

.about-title{
    margin: 0;
    padding: 10px 0;
    color: var(--greenColor);
}

.profile-pic{
    border-radius: 50%;
    width: 230px;
    height: 230px;
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    margin-bottom: 20px;
}

.s1{
    width: 100%;
    overflow: auto;
}

.s2{
    overflow: auto;
    padding: 20px 50px 0;
    animation: slide-from-bottom 2s;
    color: var(--whiteColor);
    height: 100%;
}

.main-container{
    height: 100%;
    margin: 0 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px;
    animation: fadeIn 2s;
}
.pic-text-wrapper{
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2em 25em;
    grid-template-areas: 
        'nav-wrapper nav-wrapper' 
        'left-wrapper right-wrapper';
    background-color: var(--whiteColor);
    border-radius: 6px;
}
.nav-wrapper{
    border-radius: 5px 5px 0 0;
    grid-area: nav-wrapper;
    display: flex;
    background-color: var(--sectionColor);
    border-bottom: 1px solid var(--borderColor);
    position: relative;
    align-items: center;
}

.dots{
    border-radius: 50%;
    height: 12px;
    width: 12px;
    margin: 10px 5px;
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
}
.dot-container{
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 5px;
}
.dot-1{
    background-color: var(--greenColor);
}
.dot-2{
    background-color: var(--yellowColor);
}
.dot-3{
    background-color: var(--pinkColor);
}

.left-wrapper{
    grid-area: left-wrapper;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.right-wrapper{
    grid-area: right-wrapper;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bio-container{
    font-family: 'Roboto Slab', serif;;
    padding: 0 0 20px 30px;
    font-size: 18px;
    color: var(--softBlack);
    display: flex;
    flex-direction: column;
}

.fa-location-dot{
    padding-right: 5px;
}

.button-container{
    position: absolute;
    right: 10px;
    top: 10px;
}

.social-container{
    display: flex;
    flex-direction: column;
}

.social-btn{
    color: var(--pinkColor);
    border: none;
    background: transparent;
    font-size: 35px;
    cursor: pointer;
    margin: 0 10px;
    text-decoration: none;
}
.social-btn:hover{
    color: var(--greenColor);
}

.social-media-buttons{
    display: flex;
    justify-content: center;
}

.about-pic{
    max-width: 350px;
    padding-right: 15px;
    border-radius: 5px 0 0 5px;
    height: 466px;
    margin: auto;
}

.about-me-text{
    font-size: 16px;
}

.about-container{
    font-family: 'Roboto Slab', serif;
    height: fit-content;
    background-color: rgba(45, 46,45, 0.3);
    display: flex;
    border-radius: 5px;
}
.skill-container{
    display: flex;
    flex-direction: column; 
}

.skill{
    margin-bottom: 10px;
    line-height: 24px;
}

b{
    font-weight: 700;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes slide-from-bottom {
  0% {
    margin-top: 23%;
  }
  100% {
    margin-top: 0;
  }
}

@media screen and (max-width: 800px){
    .pic-text-wrapper{
        grid-template-columns: 1fr;
        grid-template-areas: 
            'nav-wrapper'
            'right-wrapper'
            'left-wrapper';
        margin: 0 10px;
        height: fit-content;
        overflow: hidden;
    }
    .title{
        padding: 0 10px;
        font-size: 30px;
    }
    .navbar{
        position: relative;
    }
    .navtext{
        font-size: 8px;
    }
    .about-pic{
        display: none;
    }
    .about-container{
        padding: 10px;
        height: fit-content;
        overflow: hidden;
    }
    .s2{
        padding: 10px 15px 10px;
        height: fit-content;
        overflow:hidden;
    }
    .button-container{
        position: relative;
        right: auto;
        text-align: center;
    }
}

@media (hover: none) {
    /* behaviour for touch browsers */
  }